<div id="sidebar-menu">
    <ul>
        <li>
            <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
        </li>
        <li class="has_sub">
            <a class="waves-effect"><i class="md md-mail"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-page="/shop/slides/Index"> اسلایدر </a></li>
                <li><a asp-page="/shop/ProductCategories/Index">گروه محصولات </a></li>
                <li><a asp-page="/shop/products/Index">محصولات </a></li>
                <li><a asp-page="/shop/productpictures/Index">عکس محصولات </a></li>
            </ul>
        </li>
        <li class="has_sub">
            <a class="waves-effect"><i class="md md-mail"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-page="/Discounts/CustomerDiscount/Index"> تخفیف مشتری </a></li>
                <li><a asp-page="/Discounts/ColleagueDiscount/Index"> تخفیف همکاری </a></li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>